@font-face {
  font-family: "cocogoose pro";
  src: url(./Fonts/Cocogoose-Pro-Regular-trial.ttf);
}

main {
  background: linear-gradient(rgba(212, 212, 212, 0.9), rgba(212, 212, 212, 0.9)), url(./Images/main-bg-4.png);
  background-position: center center;
  background-size: initial;
}

.about-text h3,
.about-text p,
.course-heading,
.course-text,
.course-details {
  margin: 0;
}

.about-text {
  padding: 5rem 15rem;
  text-align: center;
}

.about-text h3,
.about-text .head {
  color: #ec5242;
}

.about-text .head {
  font-family: "cocogoose pro", sans-serif;
  font-size: 3.5em;
  line-height: 60px;
  padding: 1rem 0;
  letter-spacing: -2px;
}

.about-text span {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.bordered-about-p {
  border: 2px solid #d3d3d3;
  background: white;
  color: #272a31;
  width: 100%;
  padding: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 25px;
}

.contact {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #272a31;
  padding: 0.5rem 0;
}

.contact a {
  color: #ec5242 !important;
  font-style: italic;
}

.about-text a {
  text-decoration: underline;
  color: #272a31;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  word-spacing: -1px;
}

.course-section {
  padding: 3rem 10rem;
  border: 1px solid #d3d3d3;
  box-shadow: #d3d3d3 5px 5px 5px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 5px;
  width: 100%;
}

.course-grid-heading {
  grid-column: 1/ -1;
  margin: 0 auto;
  color: #272a31;
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.course-content {
  text-align: center;
  padding: 1rem 0;
  border: 2px solid #d3d3d3;
  transition: 0.3s ease-in;
}

.course-content:hover {
  transform: scaleY(1.2) scaleX(1.05);
  background-color: #d3d3d3;
}

.course-heading {
  color: #272a31;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.course-text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  padding-top: 1rem;
  color: #ec5242;
  font-style: italic;
}

.course-details {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #272a31;
  padding: 1rem 0;
}

.course-content a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #272a31;
  background-color: #d3d3d3;
  padding: 0.5rem 2rem;
  font-weight: 600;
}

.about-path {
  display: none;
}

.additional {
  padding: 3rem 10rem;
}

.additional-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: 100%;
  margin: auto;
}

.additional-heading,
.additional-p {
  grid-column: 1/ -1;
  margin: 0 auto;
}

.additional-heading {
  color: #272a31;
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  padding: 1rem 0;
}

.additional-p {
  color: #272a31;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  padding: 1rem 0;
}

.additional-course {
  margin: 2rem auto;
}

.unity {
  text-align: center;
  background: linear-gradient(rgba(241, 9, 9, 0.7), rgba(241, 9, 9, 0.7)), url(./Images/unity-learn.webp);
  background-size: cover;
  background-position: center center;
  padding: 3rem 10rem;
}

.unity h2,
.c-sharp h2 {
  font-size: 2rem;
  padding: 0 3rem;
  font-family: "Lato", sans-serif;
  color: #d3d3d3;
  width: 100%;
}

.c-sharp {
  text-align: center;
  background: linear-gradient(rgba(241, 9, 9, 0.7), rgba(241, 9, 9, 0.7)), url(./Images/c-sharp.jpg);
  background-size: cover;
  background-position: center center;
  padding: 3rem 10rem;
}

.about-footer {
  width: 100%;
  background-color: #272a31;
}

.footer-flexbox {
  display: flex;
  justify-content: start;
  padding: 2rem 15rem;
}

.footer-about-details p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #d3d3d3;
}

.footer-about-details a {
  text-decoration: none;
  color: #d3d3d3;
}

@media only screen and (min-width: 769px) and (max-width: 1138px) {
  .about-text {
    padding: 1rem 8rem;
    text-align: center;
  }

  .about-text h3 {
    font-size: 1.5rem;
  }

  .about-text .head {
    font-size: 3rem;
    line-height: 50px;
  }

  .about-text .bordered-about-p {
    width: 100%;
  }

  .course-grid-heading {
    text-align: center;
    font-size: 1rem;
  }

  .course-section {
    padding: 2rem 8rem;
  }

  .course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }

  .course-items {
    grid-column: 1/ -1;
    padding: 0.5rem;
  }

  .additional {
    padding: 2rem 8rem;
  }

  .additional-heading {
    font-size: 2rem;
  }

  .unity,
  .c-sharp {
    padding: 5rem;
  }

  .unity h2,
  .c-sharp h2 {
    font-size: 2rem;
    padding: 0 3rem;
  }

  .footer-about-details p {
    font-size: 12px;
    margin: 0.3rem 0;
  }
}

@media only screen and (min-width: 533px) and (max-width: 768px) {
  .about-text {
    padding: 1rem;
    text-align: center;
  }

  .about-text h3 {
    font-size: 1.5rem;
  }

  .about-text .head {
    font-size: 3rem;
    line-height: 50px;
  }

  .about-text .bordered-about-p {
    width: 100%;
  }

  .course-grid-heading {
    text-align: center;
    font-size: 1rem;
  }

  .course-section {
    padding: 2rem 1rem;
  }

  .course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }

  .course-items {
    grid-column: 1/ -1;
    padding: 0.5rem;
  }

  .additional {
    padding: 2rem 1rem;
  }

  .additional-heading {
    font-size: 2rem;
  }

  .unity,
  .c-sharp {
    padding: 1rem;
  }

  .unity h2,
  .c-sharp h2 {
    font-size: 2rem;
    padding: 0 3rem;
  }

  .footer-about-details p {
    font-size: 12px;
    margin: 0.3rem 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 532px) {
  .about-text {
    padding: 1rem;
    text-align: center;
  }

  .about-text h3 {
    font-size: 1.5rem;
  }

  .about-text .head {
    font-size: 2rem;
    line-height: 35px;
  }

  .about-text .bordered-about-p {
    width: 100%;
  }

  .course-grid-heading {
    text-align: center;
    font-size: 1rem;
  }

  .course-section {
    padding: 2rem 1rem;
  }

  .course-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }

  .course-items {
    grid-column: 1/ -1;
    padding: 0.5rem;
  }

  .about-path {
    display: block;
    grid-column: 1/ -1;
    grid-row: 4;
    background-color: #ec5242;
    padding: 1.5rem;
    text-align: center;
  }

  .about-path a {
    text-decoration: none;
    color: #272a31;
    font-family: "Lato", sans-serif;
    word-spacing: 5px;
    font-size: 16px;
  }

  .third,
  .fourth {
    display: none;
  }

  .additional-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }

  .additional-heading {
    font-size: 1.5rem;
  }

  .additional {
    padding: 1rem 4rem;
  }

  .additional-p {
    text-align: center;
  }

  .unity,
  .c-sharp {
    padding: 3rem 2rem;
  }

  .unity h2,
  .c-sharp h2 {
    font-size: 1rem;
    padding: 0 4rem;
  }

  .footer-about-details p {
    font-size: 12px;
    margin: 0;
  }
}

@media only screen and (min-width: 319px) and (max-width: 400px) {
  .additional {
    padding: 1rem 2rem;
  }

  .additional-p {
    text-align: center;
  }
  
  .unity,
  .c-sharp {
    padding: 3rem 2rem;
  }

  .unity h2,
  .c-sharp h2 {
    font-size: 1rem;
    padding: 0 4rem;
  }

}
