* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  box-shadow: #d3d3d3 5px 5px 5px;
}

.first-navbar {
  display: grid;
  background-color: #272a31;
  justify-content: end;
  padding: 5px 0;
}

.second-navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.first-navbar ul,
.navbar-nav ul {
  display: flex;
  list-style: none;
  margin: 0 10rem;
}

.navbar-nav ul {
  margin: 0 9rem;
  padding: 10px 0;
}

.navbar-logo {
  margin: 0 10rem;
}

.navbar-logo img {
  width: 150px;
  margin-top: -1rem;
}

.first-navbar li {
  padding: 0 10px;
}

.navbar-nav li {
  padding: 0 30px;
}

.first-navbar li .diff {
  padding: 0 10px;
}

.navbar-nav li .special {
  border: 3px solid #ec5242;
  padding: 10px 20px;
  color: #ec5242;
}

.navbar-nav .active {
  color: #ec5242;
}

.first-navbar a,
.navbar-nav a {
  color: #d3d3d3;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.first-navbar a {
  color: #d3d3d3;
}

.navbar-nav a {
  color: #272a31;
}

main {
  background: linear-gradient(rgba(212, 212, 212, 0.9), rgba(212, 212, 212, 0.9)), url(./Images/main-bg-4.png);
  background-position: center center;
  background-size: small;
}

main .fa-bars {
  display: none;
}

.main-text h3,
.main-text p,
.inspire h4,
.inspire h6,
.inspire p {
  margin: 0;
}

.main-text {
  padding: 5rem 10rem;
}

.main-text h3,
.main-text .head {
  color: #ec5242;
}

.main-text h3 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 600;
}

.main-text .head {
  font-family: 'cocogoose pro';
  font-size: 4em;
  line-height: 70px;
  padding: 1rem 0;
  letter-spacing: -2px;
  background:  url(./Images/text-bg-2.png);
  background-size: cover;
  background-position: center center;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.main-text span {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.bordered-p {
  border: 2px solid white;
  background: #d3d3d3;
  color: #272a31;
  width: 45%;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.date {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #272a31;
  padding: 1rem 0;
}

.journey-path {
  padding: 2rem 10rem;
  background: url(./Images/bg-3.png);
  background-position: center center;
  background-size: small;
}

.path-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 20px;
}

.path-heading {
  grid-column: 1/ -1;
  margin: 2rem auto;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #d3d3d3;
}

.path-heading span,
.inspiring-heading span,
.important-heading span {
  border-bottom: 2px solid #ec5242;
  padding: 0.5rem 0;
}

.path-items h5 {
  color: #ec5242;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 1rem 0;
}

.path-items p {
  color: #d3d3d3;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
}

.path-items a {
  color: #d3d3d3;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.path-items {
  background: rgba(236, 236, 236, 0.1);
  text-align: center;
  padding: 2rem 0;
}

.path-footer {
  grid-area: 3/ -4;
  margin: 0 auto;
  padding: 2rem 0;
}

.path-footer a {
  color: #d3d3d3;
  font-family: 'Lato', sans-serif;
  word-spacing: 5px;
  font-size: 16px;
}

.inspiring-path {
  padding: 2rem 10rem;
}

.inspiration-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 40px;
}

.inspiring-heading {
  grid-column: 1/ -1;
  margin: 2rem auto;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #272a31;
}

.inspiration-items {
  display: flex;
  margin: 0;
}

.inspiration-items .persons {
  width: 25%;
  height: 160px;
  margin: 0;
  z-index: 1;
}

.inspiration-items .absolute-img {
  position: relative;
  width: 72px;
  height: 72px;
  left: 50px;
  bottom: 20px;
}

.inspire {
  margin-left: 1rem;
}

.inspire h4 {
  color: #272a31;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

.inspire h6 {
  color: #ec5242;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 15px;
  padding: 1rem 0;
  font-style: italic;
}

.inspire p {
  color: #272a31;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  padding-top: 0.5rem;
  line-height: 20px;
}

.inspire hr {
  margin: 0;
  width: 25px;
}

.important {
  display: flex;
  padding: 1rem 10rem;
  background-color: #272a31;
  justify-content: center;
}

.important-heading {
  grid-column: 1/ -1;
  margin: 2rem auto;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #d3d3d3;
}

.important-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.important-items img {
  width: 200px;
  height: 96px;
}

.important-items .odd {
  width: 180px;
  height: 135px;
  margin: 0 1.5rem;
}

footer {
  background-color: #d3d3d3;
}

.footer-flexbox {
  display: flex;
  justify-content: start;
  padding: 2rem 10rem;
}

.footer-details p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #272a31;
  font-weight: 600;
}

.footer-details a{
  text-decoration: none;
  color: #272a31;
}

@media only screen and (min-width: 769px) and (max-width: 1138px) {
  .second-navbar {
    justify-content: space-evenly;
  }
  
  .navbar-logo {
    padding: 0;
    margin: 0;
  }
  
  .navbar-nav ul {
    margin: 0;
  }

  .navbar-nav li {
    padding: 0 2rem;
  }

  .main-text {
    padding: 1rem;
    text-align: start;
  }

  .main-text h3 {
    font-size: 2rem;
  }

  .main-text .head {
    font-size: 3rem;
    line-height: 50px;
  }

  .main-text .bordered-p {
    width: 50%;
  }

  .main-text .date {
    font-size: 1.5rem;
  }

  .journey-path {
    padding: 4rem 10rem;
    background: url(./Images/bg-3.png);
    background-position: center center;
    background-size: small;
  }
  
  .path-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }

  .path-items {
    margin: 0 auto;
  }

  .path-footer {
    grid-column: 1/ -1;
    grid-row: 5;
  }

  .inspiring-path {
    padding: 1rem 0;
  }

  .inspiration-items {
    display: flex;
    padding: 0 2rem;
  }

  .inspire h4,
  .inspire h6,
  .inspire p {
    font-size: 0.9rem;
    padding: 0.4rem 0;
  }
  
  .inspiration-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }

  .inspiration-items .persons {
    width: 120px;
    height: 140px;
  }

  .inspiration-items .absolute-img {
    position: relative;
    left: 60px;
    bottom: 10px;
    z-index: -1;
  }

  .important {
    padding: 1rem;
  }
  
  .important-heading {
    grid-column: 1/ -1;
    margin: 2rem auto;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #d3d3d3;
  }
  
  .important-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }
  
  .important-items img {
    width: 100px;
    height: 56px;
  }
  
  .important-items .odd {
    width: 120px;
    height: 70px;
    margin: 0 0.1rem;
  }

  .footer-flexbox {
    display: flex;
    justify-content: start;
    padding: 2rem 1rem;
  }

  .footer-flexbox img {
    width: 120px;
  }

  .footer-details p {
    font-size: 12px;
    margin: 0.5rem;
  }
}

@media only screen and (min-width: 533px) and (max-width: 768px) {
  nav {
    display: none;
  }

  main .fa-bars {
    display: block;
    font-size: 2.5rem;
    color: #272a31;
    padding: 1rem;
  }
  
  .main-text {
    padding: 1rem;
    text-align: start;
  }

  .main-text h3 {
    font-size: 2rem;
  }

  .main-text .head {
    font-size: 3rem;
    line-height: 50px;
  }

  .main-text .bordered-p {
    width: 100%;
  }

  .main-text .date {
    font-size: 1.5rem;
  }

  .journey-path {
    padding: 2rem 1rem;
    background: url(./Images/bg-3.png);
    background-position: center center;
    background-size: small;
  }
  
  .path-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .path-items {
    display: flex;
    grid-column: 1/ -1;
    padding: 0.5rem;
  }

  .path-items h5 {
    font-size: 0.8rem;
    align-self: center;
    margin: 0.5rem 1rem;
    text-align: start;
    width: 50px;
  }

  .path-items p {
    font-size: 0.8rem;
    align-self: center;
    padding: 0;
    width: 70%;
    margin: 0 auto;
  }

  .path-items a {
    font-size: 0.8rem;
    align-self: center;
    padding: 0;
  }

  .path-footer {
    grid-column: 1/ -1;
    grid-row: 7;
  }

  .inspiring-path {
    padding: 1rem 0;
  }

  .inspiration-items {
    display: flex;
    padding: 0 2rem;
  }

  .inspire h4,
  .inspire h6,
  .inspire p {
    font-size: 0.9rem;
    padding: 0.4rem 0;
  }
  
  .inspiration-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }

  .inspiration-items .persons {
    width: 120px;
    height: 140px;
  }

  .inspiration-items .absolute-img {
    position: relative;
    left: 60px;
    bottom: 10px;
    z-index: -1;
  }

  .important {
    padding: 1rem;
  }
  
  .important-heading {
    grid-column: 1/ -1;
    margin: 2rem auto;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #d3d3d3;
  }
  
  .important-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }
  
  .important-items img {
    width: 100px;
    height: 56px;
  }
  
  .important-items .odd {
    width: 120px;
    height: 70px;
    margin: 0 0.1rem;
  }

  .footer-flexbox {
    display: flex;
    justify-content: start;
    padding: 2rem 1rem;
  }

  .footer-flexbox img {
    width: 120px;
  }

  .footer-details p {
    font-size: 12px;
    margin: 0.5rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 532px) {
  nav {
    display: none;
  }

  main .fa-bars {
    display: block;
    font-size: 2rem;
    color: #272a31;
    padding: 1rem;
  }

  .main-text {
    padding: 1rem;
    text-align: start;
  }

  .main-text h3 {
    font-size: 1.5rem;
  }

  .main-text .head {
    font-size: 2rem;
    line-height: 35px;
  }

  .main-text .bordered-p {
    width: 100%;
  }

  .main-text .date {
    font-size: 1rem;
  }

  .journey-path {
    padding: 2rem 1rem;
    background: url(./Images/bg-3.png);
    background-position: center center;
    background-size: small;
  }
  
  .path-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .path-items {
    grid-column: 1/ -1;
    padding: 0.5rem;
  }

  .path-items h5,
  .path-items p,
  .path-items a {
    font-size: 0.8rem;
    align-self: center;
    margin: 0.5rem 0;
  }

  .path-footer {
    grid-column: 1/ -1;
    grid-row: 7;
  }

  .inspiring-path {
    padding: 1rem 0;
  }

  .inspiration-items {
    display: block;
    padding: 0 1rem;
  }

  .inspire h4,
  .inspire h6,
  .inspire p {
    font-size: 0.9rem;
    padding: 0.4rem 0;
  }
  
  .inspiration-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }

  .inspiration-items .persons {
    width: 120px;
    height: 140px;
  }

  .inspiration-items .absolute-img {
    position: relative;
    left: 65px;
    bottom: 80px;
    z-index: -1;
  }

  .important {
    padding: 1rem;
  }
  
  .important-heading {
    grid-column: 1/ -1;
    margin: 2rem auto;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #d3d3d3;
  }
  
  .important-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  
  .important-items img {
    width: 100px;
    height: 56px;
  }
  
  .important-items .odd {
    width: 120px;
    height: 70px;
  }

  .important-items .odd-1 {
    grid-column: 1/ -1;
    margin: 0 auto;
  }

  .footer-flexbox {
    display: flex;
    justify-content: start;
    padding: 2rem 1rem;
  }

  .footer-flexbox img {
    width: 120px;
  }

  .footer-details p {
    font-size: 12px;
    margin: 0;
  }
}
