main {
  padding: 4rem 10rem;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}

.game-details {
  text-align: center;
}

.game-heading {
  color: #272a31;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.game-headline {
  font-size: 18px;
  font-weight: 400;
  color: #d3d3d3;
  font-family: "Lato", sans-serif;
}

.game-note {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  padding: 0.6rem;
  width: 100%;
  margin: 2rem auto;
  color: #272a31;
  font-weight: 600;
  border: 1px solid #d3d3d3;
  border-radius: 50px;
}

.game-note a,
.game-note span {
  color: #ec5242;
}

.the-game {
  background-color: #272a31;
  height: 175px;
  padding: 2.2rem 0;
  width: 520px;
}

.the-game iframe {
  margin-top: -2.2rem;
  border: 5px dashed #ec5242;
  width: 520px;
  height: 175px;
}

.important-game {
  display: flex;
  padding: 1rem 10rem;
  background-color: #272a31;
  justify-content: center;
  width: 100%;
}

.important-game-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
}

.important-game-heading {
  margin: 2rem auto;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  color: #d3d3d3;
}

.credit {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #d3d3d3;
  margin: 1rem auto;
}

.credit span {
  color: #ec5242;
}

@media only screen and (min-width: 769px) and (max-width: 1138px) {
  .game-heading {
    font-size: 24px;
  }

  .game-headline {
    font-size: 16px;
  }

  .game-note {
    font-size: 16px;
    padding: 1rem;
    width: 100%;
    margin: 2rem auto;
  }

  .game-grid {
    grid-template-columns: 1fr;
  }

  .the-game {
    height: 175px;
    padding: 2rem 0.1rem;
    width: fit-content;
  }

  .the-game iframe {
    margin-top: -1.5rem;
    width: 550px;
  }

  .footer-details p {
    font-size: 14px;
    margin: 0.3rem auto;
  }
}

@media only screen and (min-width: 621px) and (max-width: 768px) {
  main {
    padding: 1rem;
  }

  .game-heading {
    font-size: 24px;
  }

  .game-headline {
    font-size: 16px;
  }

  .game-note {
    font-size: 16px;
    padding: 0.6rem;
    width: 100%;
    margin: 2rem auto;
  }

  .the-game {
    height: 175px;
    padding: 2rem 0.1rem;
    width: fit-content;
  }

  .the-game iframe {
    margin-top: -1.75rem;
    width: 400px;
  }

  .important-game {
    padding: 1rem 2rem;
  }

  .important-game-heading {
    margin: 0 auto;
    font-size: 20px;
  }

  .credit {
    font-size: 16px;
    margin: 1rem auto;
  }

  .footer-details p {
    font-size: 14px;
    margin: 0.2rem 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 620px) {
  main {
    padding: 1rem;
  }

  .game-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .game-details {
    text-align: center;
  }

  .game-heading {
    font-size: 24px;
  }

  .game-headline {
    font-size: 16px;
  }

  .game-note {
    font-size: 16px;
    padding: 0.6rem;
    width: 100%;
    margin: 2rem auto;
  }

  .the-game {
    height: 175px;
    padding: 2rem 0.1rem;
    width: fit-content;
  }

  .the-game iframe {
    margin-top: -1.75rem;
    width: 290px;
  }

  .important-game {
    padding: 1rem 2rem;
  }

  .important-game-heading {
    margin: 0 auto;
    font-size: 20px;
  }

  .credit {
    font-size: 16px;
    margin: 1rem auto;
  }
}
