main {
  text-align: center;
  background-color: #ebebeb;
  padding: 3rem 0;
}

main h1,
main p {
  margin: 0;
}

.tickets-header {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #272a31;
  margin-top: 1rem;
}

.tickets-headline {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  padding: 1rem 0;
  width: 50%;
  margin: 2rem auto;
  color: #272a31;
  font-weight: 600;
  border: 1px solid #272a31;
  border-radius: 50px;
}

.tickets-headline span {
  font-size: 18px;
  color: #ec5242;
}

.tickets-headline i {
  margin-right: 1rem;
}

.tickets-table {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-size: 16px;
  border-collapse: collapse;
  width: 50%;
}

.tickets-table th,
.tickets-table td {
  text-align: center;
  margin: 0;
  border: 3px solid #d3d3d3;
}

.tickets-table th {
  padding: 10px 70px;
  background-color: #272a31;
  color: #ebebeb;
}

.tickets-table td {
  background-color: white;
  padding: 15px 0;
}

.tickets-table td:hover {
  background-color: #d3d3d3;
}

.rotated {
  display: inline-block;
  background-color: #ec5242;
  padding: 1.13rem 1.4rem;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 3rem 0;
  vertical-align: center;
}

.reverse {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-size: 1.5rem;
}

.sign {
  color: #ec5242;
}

.sign i {
  color: #272a31;
  font-size: 1.2rem;
}

.footer {
  background-color: #272a31;
}

.footer-tickets-details p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #d3d3d3;
}

.footer-tickets-details a {
  text-decoration: none;
  color: #d3d3d3;
}

@media only screen and (min-width: 769px) and (max-width: 1138px) {
  .tickets-headline span {
    font-size: 12px;
  }

  .tickets-table {
    margin: 0 auto;
    font-size: 16px;
    width: 80%;
  }

  .tickets-table th,
  .tickets-table td {
    text-align: center;
    margin: 0;
  }

  .tickets-table th {
    padding: 10px 15px;
  }

  .tickets-table td {
    padding: 15px 0;
  }

  .footer-tickets-details p {
    font-size: 14px;
    margin: 0.3rem auto;
  }
}

@media only screen and (min-width: 533px) and (max-width: 768px) {
  main {
    padding: 1rem 0;
  }

  main .fa-bars {
    text-align: start;
    margin-left: 0.5rem;
  }

  .tickets-headline {
    font-size: 14px;
    padding: 1rem;
    width: 85%;
  }

  .tickets-headline i {
    margin: 0 0.5rem;
  }

  .tickets-headline span {
    font-size: 16px;
  }

  .tickets-table {
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
  }

  .tickets-table th,
  .tickets-table td {
    text-align: center;
    margin: 0;
  }

  .tickets-table th {
    padding: 10px 5px;
  }

  .tickets-table td {
    padding: 15px 0;
  }

  .footer-tickets-details p {
    font-size: 12px;
    margin: 0.3rem 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 532px) {
  main {
    padding: 1rem 0;
  }

  main .fa-bars {
    text-align: start;
    margin-left: 0.5rem;
  }
  
  .tickets-headline {
    font-size: 14px;
    padding: 0.5rem 1rem;
    width: 90%;
  }

  .tickets-headline span {
    font-size: 16px;
  }

  .tickets-table {
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
  }

  .tickets-table th,
  .tickets-table td {
    text-align: center;
    margin: 0;
  }

  .tickets-table th {
    padding: 10px 5px;
  }

  .tickets-table td {
    padding: 15px 0;
  }

  .footer-tickets-details p {
    font-size: 12px;
    margin: 0;
  }
}
